body{
	font-family: 'Oswald', sans-serif;
}

:focus, a:focus{
    outline: none;
}

a:hover{
	text-decoration: none;
}

.main-conteiner{
	max-width: 900px;
	width: 100%;
	display: inline-block;
}

.head-block{
	background-color: red;
	height: 50px;
	background-color: #c16060;
}

.logo{
	font-size: 30px;
	padding: 5px;
	color: white;
}

.logo:hover{
	color: white;
}


.inline{
	display: inline-block;
}

.row {
    margin-right: 0px;
	margin-left: 0px;
}

.errorlist{
    color: red;
}

.logout, .login, .logout{
    color: white;
    padding-top: 14px;
    display: inline-block;
}
