#todos{
    display: inline-block;
    width: 100%;
}

.todo-block{
    background-color: #efefef;
    display: inline-block;
    width: 100%;
    padding: 0px 20px 12px 20px;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 0px;
}

.date{
    display: inline-block;
    font-size: 12px;
}

.todo-block-btns{
    margin-top: 12px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn{
    padding: 4px 12px;
    margin: 0px 4px;
    border-radius: 0px;
    font-weight: 600;
    font-size: 12px;
}

.complete{
    background-color: #42b983;
    color: white !important;
}

.add-task{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-task-btn{
    width: 100%;
    max-width: 200px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #6bc2dc;
    color: white;
}

.add-task-btn:hover{
    background-color: #7ebed1;
}

.modal-content{
    border: none;
    border-radius: 0px;
}

.hide-modal{
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.modal-footer {
    padding: 10px 15px;
    border-top: none;
    text-align: center;
    padding-top: 0px;
}

.modal-header{
    padding: 10px 15px;
    border-bottom: none;
}

.modal-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

#id_description, #id_name{
    resize: none;
    border-radius: 0px;
    webkit-box-shadow: none;
    box-shadow: none;
}

#id_description:focus, #id_name:focus{
    border-color: black;
}

.modal-header .close {
    margin-top: -2px;
    font-size: 40px;
    font-family: initial;
    position: absolute;
    right: 12px;
    top: 5px;
    color: white;
}

* {
    box-sizing: border-box;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
}

.modal-container {
    width: 100%;
    max-width: 600px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: none;
    transition: all .3s ease;
}

label{
    font-weight: 400;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.text-right {
    text-align: right;
}

.form-label {
    display: block;
    margin-bottom: 1em;
}

.form-label > .form-control {
    margin-top: 0.5em;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1.5;
    border: 1px solid #ddd;
}

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-to{
  opacity: 0
}

.error-msg{
    color: #b00;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #dfdfe1;
}

h3{
    margin: 0px;
    margin-bottom: 5px;
}

.date-block{
    font-weight: 600;
    vertical-align: middle;
}

.task-name > h4{
    margin-top: 20px;
}

.filter-btn{
    margin-bottom: 5px;
    width: 170px;
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
